<div class="container wallpaper">
  <div class="card">
    <div class="chat-list" #chatListContainer>
      <ng-container *ngFor="let item of chatMessages">
        <div
          class="chat-item left"
          [ngClass]="{
            right: item.user?.id == currentUser.id,
            left: item?.user?.id != currentUser.id
          }"
        >
          <img id="avatar" [src]="item?.user?.profileImageUrl" />
          <p id="message-body">{{ item?.message }}</p>
          <span id="time-details">{{
            item?.created_at | date: "shortTime"
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="chat-footer">
    <textarea
      id="chat-textarea"
      [(ngModel)]="chatInputMessage"
      (keyup.enter)="sendMessage()"
    ></textarea>
    <button
      id="send-button"
      (click)="sendMessage()"
      [disabled]="chatInputMessage.length <= 0"
    >
      Send
    </button>
  </div>
</div>
