$background: white;
$chat-color: royalblue;
* {
  box-sizing: border-box;
}

.wallpaper {
  //wallpapers for the chat

  /*
  * gradient sprinkle
  */
  //background-image: url('/assets/images/wallpaper/cherryblossom_sprinkle.jpg');
  //background-image: url('/assets/images/wallpaper/blue_sprinkle.jpg');
  //background-image: url("/assets/images/wallpaper/green_sprinkle.jpg");

  /*
  * gradient butterfly
  */
  //background-image: url("/assets/images/wallpaper/butterfly.jpg");

  /*
  * robot
  */
  //background-image: url("/assets/images/wallpaper/robot_white.jpg");
  //background-image: url("/assets/images/wallpaper/robot_black.jpg");

  /*
  * strawberry
  */
  //background-image: url("/assets/images/wallpaper/strawberry_white.jpg");
  background-image: url("/assets/images/wallpaper/strawberry_black.jpg");

  background-size: cover;
}

.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  float: left;
  //justify-content: center;
  //align-items: center;
  height: 100%;
  width: 100%;
}
.card {
  //background: $background;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  //float: left;
  justify-content: flex-end;
  height: 90%; // 90% Chat Feed 10% Text Input
  width: 100%;
  //margin: auto;
  //flex-direction: column;
  //filter: drop-shadow(0px 0px 5px rgb(0, 0, 0.5));
  //padding: 16px;
}

.chat-list {
  left: 0;
  //background-color: lightsalmon;
  margin-top: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: scroll;
  //height: 100%;

  .chat-item {
    width: 95%;
    margin: 8px 0px;
    //padding: 8px 16px;
    display: flex;
    //flex-wrap: wrap;
    flex-direction: row;
    //background: palevioletred;

    #message-body {
      width: 70%;
      //justify-content: center;
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      //overflow-x: scroll;
      //max-width: 90%;
      //height: 100%;
      //height: 500px;
      word-wrap: break-word;
      word-break: keep-all;
      margin: auto 8px;
      padding: 8px 24px;
      border-radius: 1em;
      background: $chat-color;
      color: white;
    }

    #avatar {
      height: 36px;
      width: 36px;
      object-fit: cover;
      border-radius: 50%;
      z-index: 99;
      border: 3px solid $background;
    }
    #time-details {
      width: 20%;
      //background-color: black;
      //height: fit-content;
      margin: auto 0;
      padding-top: 16px;
    }
  }
  .left {
    margin-right: auto;
    margin-left: 8px;
    #message-body {
      margin-left: -15px;
      margin-top: 1em;
    }
  }

  .right {
    margin-right: 8px;
    margin-left: auto;
    flex-direction: row-reverse;
    #message-body {
      margin-right: -15px;
      margin-top: 1em;
    }
  }
}

.chat-footer {
  // flex container
  position: relative;
  height: 10%; // 90% Chat Feed 10% Text Input
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  resize: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  //float: left;
  //justify-content: center;
  //align-items: center;

  //border-top: 2px solid $chat-color;
  //background: $chat-color;

  #chat-textarea {
    // flex item
    flex-basis: 80%;
    margin: 2%;
    padding: 2%;
    border: 0px;
    box-shadow: 0 0 8px rgb(0, 0, 0.5);
    resize: none;
    overflow: visible;
    overflow-y: scroll;
    border-radius: 5px;
    // Text specific
  }

  #send-button {
    // flex item
    flex-basis: 20%;
    margin: 2%;
    background: white;
    text-align: center;
    color: black;
    border: 0px;
    border-radius: 5px;
    //justify-content: center;
    box-shadow: 0 0 8px rgb(0, 0, 0.5);
    //padding: 0 8px;
  }

  #send-button:hover {
    background-color: pink;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .chat-footer {
    #chat-textarea {
      margin: 1%;
    }
    #send-button {
      margin: 1%;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (orientation: portrait) {
  .chat-footer {
    #chat-textarea {
      margin: 0.5%;
    }
    #send-button {
      margin: 0.5%;
    }
  }
}

@media only screen and (orientation: landscape) {
  .card {
    height: 80%;
  }
  .chat-footer {
    height: 20%;
    #chat-textarea {
      margin: 1%;
    }
    #send-button {
      margin: 1%;
    }
  }
}
@media only screen and (min-height: 600px) and (orientation: landscape) {
  .card {
    height: 90%;
  }
  .chat-footer {
    height: 10%;
    #chat-textarea {
      margin: 0.5%;
    }
    #send-button {
      margin: 0.5%;
    }
  }
}
