<!--
  Info Page
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/general']"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>General</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/corpus']"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Corpus</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Infopage</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/settings']" routerLinkActive="active">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </a>
    <a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']">
    <span>questMe</span>
  </a>
</div>
<!-- card with the name of the page -->
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img src="{{ selectedIcon.src }}" alt="{{ selectedIcon.name }}" />
    <span>Welcome to the Admin-interface !</span>
  </div>

  <!-- Information -->
  <h2>Information</h2>
  <p>TODO</p>
</div>
