<!--
  Info Page
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/general']"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>General</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/corpus']"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Corpus</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Infopage</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/settings']" routerLinkActive="active">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </a>
    <a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']">
    <span>questMe</span>
  </a>
</div>
<!-- card with the name of the page -->
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img src="{{ selectedIcon.src }}" alt="{{ selectedIcon.name }}" />
    <span>Infopage Admin-interface</span>
  </div>

  <!-- Information -->
  <div class="information">
    <h2>Information</h2>
    <h3>General Page</h3>
    <p>Here you can change the Icon of the Chatbot and its Name.</p>
    <br />
    <h3>Corpus Page</h3>
    <p>
      Here you can create new Data which should be accessible through the Chat.
      The Data a Chatbot can provide thourgh the Chat consists of 3 Elements.
      <br />
      <br /><b>Intent</b> - The reason why someone asks something <br /><b
        >Utterance/s</b
      >
      - Possible Questions to get an answer <br /><b>Answer/s</b> - The answer for
      possible questions <br />
      <br />
      <b>Add Intent</b> -> Opens a Dialog where you can create a new Intent
      <br />
      <b>Add Utterance</b> -> Opens a Text Field where you can write a new
      Utterance <br />
      <b>Add Answer</b> -> Opens a Text Field where you can write a new Answer
      <br /> <br />
      It is also possible to edit an already created Intent.
    </p>
    <br />
    <h3>Settings Page</h3>
    <p>Here you can setup which Role can acces which corpus Data</p>
  </div>
</div>
