<!--
  Infoseite
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/allgemein']"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Allgemein</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/korpus']"
    ><button mat-menu-item>
      <mat-icon>library_books</mat-icon>
      <span>Korpus</span>
    </button>
    </a>
    <a [routerLink]="['/admin-interface/einstellungen']" routerLinkActive="active"
    >
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
    </button>
    </a>
    <a [routerLink]="['/admin-interface']">
    <button mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>LogOut</span>
    </button>
  </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']">
    <span>questMe</span>
  </a>
</div>

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      src="https://image.shutterstock.com/image-vector/cat-robot-cartoon-vector-icon-600w-1801648348.jpg"
      alt="ChatBot"
    />
    <span>Willkommen zu admin-interface !</span>
  </div>

  <!-- Information -->
  <h2>Information</h2>
  <p>
    Links oben befindet sich das Hamburger Menu. <br />
    Im Menu kann man die Punkte Allgemein, Korpus, Einstellungen und LogOut
    auswählen.
  </p>

</div>
 <!-- Beispiel von Routing
  <h1>Angular Router App</h1>
   This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule)
  <nav>
    <ul>
      <li><a routerLink="/allgemein-interface" routerLinkActive="active">First Component</a></li>
      <li><a routerLink="/app-root" routerLinkActive="active">Second Component</a></li>
    </ul>
  </nav>
  The routed views render in the <router-outlet>
  <router-outlet></router-outlet>
  -->
