<!--
  Allgemein-Seite
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <!-- Hamburger menu with links-->
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/general']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>General</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/corpus']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Corpus</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Infopage</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/settings']" routerLinkActive="active">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </a>
    <a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active">
    <span>questMe</span>
  </a>
</div>
<!-- card with the name of the page -->
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      class="icon-img-chosen"
      src="{{ generalData.selectedIcon.src }}"
      alt="{{ generalData.selectedIcon.name }}"
    />
    <span>General</span>
  </div>

  <!-- Image Slider with <Flicking>-->
  <div
    class="flicking-viewport has background-grey-lighter p-4 mb-4"
    style="touch-action: pan-y; user-select: none"
  >
    <ngx-flicking
      [options]="{ moveType: 'freeScroll', bound: false, align: 'prev' }"
    >
      <span
        flicking-panel
        class="button mr-2 is-white"
        (click)="chooseIcon($event)"
        ><img
          class="icon-img"
          src="{{ iconArray[0].src }}"
          alt="{{ iconArray[0].name }}"
          [ngClass]="{ 'toggle-class': iconArray[0].condition }"
      /></span>
      <span
        flicking-panel
        class="button mr-2 is-white"
        (click)="chooseIcon($event)"
        ><img
          class="icon-img"
          src="{{ iconArray[1].src }}"
          alt="{{ iconArray[1].name }}"
          [ngClass]="{ 'toggle-class': iconArray[1].condition }"
      /></span>
      <span
        flicking-panel
        class="button mr-2 is-white"
        (click)="chooseIcon($event)"
        ><img
          class="icon-img"
          src="{{ iconArray[2].src }}"
          alt="{{ iconArray[2].name }}"
          [ngClass]="{ 'toggle-class': iconArray[2].condition }"
      /></span>
      <span
        flicking-panel
        class="button mr-2 is-white"
        (click)="chooseIcon($event)"
        ><img
          class="icon-img"
          src="{{ iconArray[3].src }}"
          alt="{{ iconArray[3].name }}"
          [ngClass]="{ 'toggle-class': iconArray[3].condition }"
      /></span>
      <span
        flicking-panel
        class="button mr-2 is-white"
        (click)="chooseIcon($event)"
        ><img
          class="icon-img"
          src="{{ iconArray[4].src }}"
          alt="{{ iconArray[4].name }}"
          [ngClass]="{ 'toggle-class': iconArray[4].condition }"
      /></span>
      <span
        flicking-panel
        class="button mr-2 is-white"
        (click)="chooseIcon($event)"
        ><img
          class="icon-img"
          src="{{ iconArray[5].src }}"
          alt="{{ iconArray[5].name }}"
          [ngClass]="{ 'toggle-class': iconArray[5].condition }"
      /></span>
    </ngx-flicking>
  </div>

  <!-- Input Field for Bot name -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Bot Name</mat-label>
    <input
      matInput
      placeholder="default name"
      [(ngModel)]="generalData.botName"
      (change)="onChange()"
    />
  </mat-form-field>
</div>
