<!--
  Allgemein-Seite
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <!-- Hamburger menu mit Verlinkung-->
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/allgemein']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Allgemein</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/corpus']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Korpus</span>
      </button>
    </a>
    <a
      [routerLink]="['/admin-interface/einstellungen']"
      routerLinkActive="active"
    >
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Einstellungen</span>
      </button>
    </a>
    <a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active">
    <span>questMe</span>
  </a>
</div>
<!-- card with the name of the page -->
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      src="https://image.shutterstock.com/image-vector/cat-robot-cartoon-vector-icon-600w-1801648348.jpg"
      alt="ChatBot"
    />
    <span>Allgemein</span>
  </div>

  <!-- Image Slider with <Flicking>-->
  <div
    class="flicking-viewport has background-grey-lighter p-4 mb-4"
    style="touch-action: pan-y; user-select: none"
  >
    <ngx-flicking [options]="{ moveType: 'freeScroll', bound: true }">
      <span flicking-panel class="button mr-2 is-white"
        ><img src="assets/images/Bot Picture.png" alt="Bot picture 01"
      /></span>
      <span flicking-panel class="button mr-2 is-white"
        ><img src="assets/images/Bot Picture(1).png" alt="Bot picture 02"
      /></span>
      <span flicking-panel class="button mr-2 is-white"
        ><img src="assets/images/Bot Picture(2).png" alt="Bot picture 03"
      /></span>
      <span flicking-panel class="button mr-2 is-white"
        ><img src="assets/images/Bot Picture(3).png" alt="Bot picture 04"
      /></span>
      <span flicking-panel class="button mr-2 is-white"
        ><img src="assets/images/image 10.png" alt="Bot picture default"
      /></span>
      <span flicking-panel class="button mr-2 is-white"
        ><img src="assets/images/image 16.png" alt="Bot picture fun"
      /></span>
    </ngx-flicking>
  </div>

  <!-- Input Field for Bot name -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Bot Name</mat-label>
    <input matInput placeholder="default name" value="questMe" />
  </mat-form-field>
</div>
