<!--
  Einstellungen-Seite
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <!-- Hamburger menu mit Verlinkung-->
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/allgemein']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Allgemein</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/corpus']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Korpus</span>
      </button>
    </a>
    <a
      [routerLink]="['/admin-interface/einstellungen']"
      routerLinkActive="active"
    >
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Einstellungen</span>
      </button>
    </a>
    <a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active">
    <span>questMe</span>
  </a>
</div>
<!-- card with the name of the page -->
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      src="https://image.shutterstock.com/image-vector/cat-robot-cartoon-vector-icon-600w-1801648348.jpg"
      alt="ChatBot"
    />
    <span>Einstellungen</span>
  </div>

  <!-- card for the group and the Korpusdaten -->
  <div class="card card-group">
    <span>Gruppe</span>
    <span class="title-korpusdaten">Korpusdaten</span>
  </div>

   <!-- Professor -->
  <div class="card card-group-professor">
    <span class="professor">Professoren</span>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Korpusdaten</mat-label>
      <mat-chip-list #chipList aria-label="Korpusdaten">
        <mat-chip
          *ngFor="let user of users"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(user)"
        >
          {{ user }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Neue Korpusdaten"
          #userInput
          [formControl]="userCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let user of filteredUser | async"
          [value]="user"
        >
          {{ user }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
<!-- Student -->
  <div class="card card-group-professor">
    <span class="student">Studenten</span>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Korpusdaten</mat-label>
      <mat-chip-list #chipList aria-label="Korpusdaten">
        <mat-chip
          *ngFor="let user of users"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(user)"
        >
          {{ user }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Neue Korpusdaten"
          #userInput
          [formControl]="userCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let user of filteredUser | async"
          [value]="user"
        >
          {{ user }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- Nicht registrierte Benutzer -->
  <div class="card card-group-professor">
    <span class="nicht-registriert">Nicht registriert</span>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Korpusdaten</mat-label>
      <mat-chip-list #chipList aria-label="Korpusdaten">
        <mat-chip
          *ngFor="let user of users"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(user)"
        >
          {{ user }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Neue Korpusdaten"
          #userInput
          [formControl]="userCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let user of filteredUser | async"
          [value]="user"
        >
          {{ user }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
