<!--
  Infopage
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>questMe Single Sign On</span>
</div>

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      src="{{ generalData.selectedIcon.src }}"
      alt="{{ generalData.selectedIcon.name }}"
    />
    <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active"
      ><button>Login</button></a
    >
  </div>

  <p>Please Sign in with Single Sign</p>

  <!-- Beispiel von Routing
  <h1>Angular Router App</h1>
   This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule)
  <nav>
    <ul>
      <li><a routerLink="/allgemein-interface" routerLinkActive="active">First Component</a></li>
      <li><a routerLink="/app-root" routerLinkActive="active">Second Component</a></li>
    </ul>
  </nav>
  The routed views render in the <router-outlet>
  <router-outlet></router-outlet>
  -->
</div>
