<!--
  Settings-Page
 -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="questMe icon-button with a menu"
  >
    <!-- Hamburger menu with Links-->
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/admin-interface/general']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>General</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/corpus']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Corpus</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active"
      ><button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Infopage</span>
      </button>
    </a>
    <a [routerLink]="['/admin-interface/settings']" routerLinkActive="active">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </a>
    <a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </a>
  </mat-menu>
  <a [routerLink]="['/admin-interface/infopage']" routerLinkActive="active">
    <span>questMe</span>
  </a>
</div>
<!-- card with the name of the page -->
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img src="{{ selectedIcon.src }}" alt="{{ selectedIcon.name }}" />
    <span>Settings</span>
  </div>

  <!-- card for the group and the Korpusdaten -->
  <div class="card card-group">
    <span>Group</span>
    <span class="title-corpus-data">Corpus Data</span>
  </div>

  <!-- Professor -->
  <div class="card card-group-users">
    <span class="professor">Professor</span>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Corpus Data</mat-label>
      <mat-chip-list #chipListProf aria-label="CorpusData">
        <mat-chip
          *ngFor="let prof of settingsData.professor"
          [selectable]="selectableProf"
          [removable]="profRemoveable"
          (removed)="removeChip('Professor', prof)"
        >
          {{ prof }}
          <button matChipRemove *ngIf="profRemoveable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-select
        [formControl]="profCtrl"
        (selectionChange)="addChip('Professor')"
        placeholder="Choose Corpus Data"
      >
        <mat-option *ngFor="let select of selectable" [value]="select">
          {{ select }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Student -->
  <div class="card card-group-users">
    <span class="student">Students</span>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Corpus Data</mat-label>
      <mat-chip-list #chipListStud aria-label="CorpusData">
        <mat-chip
          *ngFor="let stud of settingsData.student"
          [selectable]="selectableStud"
          [removable]="studRemoveable"
          (removed)="removeChip('Student', stud)"
        >
          {{ stud }}
          <button matChipRemove *ngIf="studRemoveable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-select
        [formControl]="studCtrl"
        (selectionChange)="addChip('Student')"
        placeholder="Choose Corpus Data"
      >
        <mat-option *ngFor="let select of selectable" [value]="select">
          {{ select }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--  Unregistered -->
  <div class="card card-group-users">
    <span class="unregistered">Unregistered</span>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Corpus Data</mat-label>
      <mat-chip-list #chipListUnregistered aria-label="CorpusData">
        <mat-chip
          *ngFor="let unregistered of settingsData.unregistered"
          [selectable]="selectableUnregistered"
          [removable]="unregisteredRemoveable"
          (removed)="removeChip('Unregistered', unregistered)"
        >
          {{ unregistered }}
          <button matChipRemove *ngIf="unregisteredRemoveable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <mat-select
          [formControl]="unregisteredCtrl"
          (selectionChange)="addChip('Unregistered')"
          placeholder="Choose Corpus Data"
        >
          <mat-option *ngFor="let select of selectable" [value]="select">
            {{ select }}
          </mat-option>
        </mat-select>
      </mat-chip-list>
    </mat-form-field>
  </div>
</div>
